<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.bigprize">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />

        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
    </queries>

    <application
        android:name=".Big_App_Controller"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/big_app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigPrize"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.Big_Brain_trainerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Big_BraintrainerActivity"
            android:exported="false"
            android:label="@string/title_activity_big_braintrainer"
            android:theme="@style/Theme.BigPrize" />
        <activity
            android:name=".Activity.Big_BraintreainerActivity"
            android:exported="false" />
        <activity
            android:name=".Activity.Big_HighScoreFile"
            android:exported="false" />
        <activity
            android:name=".Activity.Big_BrainActivity"
            android:exported="false"
            android:label="@string/title_activity_big_brain"
            android:theme="@style/Theme.BigPrize" />
        <activity
            android:name=".Activity.Big_ScanAndPayDetails_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ScanAndPayActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysVisible" />
        <activity
            android:name=".Activity.Big_ScanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_SortWordsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_MinesFinderActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_TypeTextGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_LuckyNumberDrawHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_QuizGameHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_AlphabetgameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_WithdrawTypesListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_WithdrawTypesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_My_Wallet_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ActivityFAQ"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ReferPointHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_EarningOptionsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_UserProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_LuckySpinWheelActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ReferUsersActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ColorTapActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_CardMatchActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_CountUpActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_Dice_Roll_Activity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ActivityDailyReward"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_QuizGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_PlayPuzzleActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_LuckyNumberDrawActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_AdjoeLeaderboardHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_GiveAwaySocialActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_AdjoeLeaderboardActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ScratchCardGameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_FeedbackSubmitActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_WatchVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_ActivityDailyLogin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_TasksCategoryTypeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_TaskDetailsInfoActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_PointHistoryActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_WebActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_LoginUserActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.Big_SplashScreenActivity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="true" />
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}" />

        <service
            android:name=".Big_FirebaseNotificationService"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="applovin.sdk.key"
            android:value="hMTld6PCIHioMx2zChGGeVh8S9gwdd_iOvfboGuo87_HGWAmkp75bd9QGCQex9FUo2XX3xHp1OC2ihZTHc1mnJ" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/big_ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="channel_01" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1448031092812393"
            android:exported="true" />
    </application>

</manifest>